[Unit]
Description=PyGPIO Monitor MQTT client

[Service]
WorkingDirectory=/home/openhabian/
User=openhabian
ExecStart=/usr/bin/python3 /home/openhabian/py-gpio-monitor.py
Environment=PYTHONUNBUFFERED=1

[Install]
WantedBy=default.target